{{template "common/head.html" .}}
<div id="loginFormDiv" data-controller="login">
  <div class="login-box h-100 row justify-content-center align-items-center">
    <div class="login-box-body col-10 col-sm-6 col-xl-3 col-lg-4">
      <div class="main-shadow px-4 py-3">
        <div class="text-center"><img id="cryptomindLogo" width="110" class="login-logo-img"
            src="/static/images/logo.png" /></div>
        <p id="sectionTitle" class="login-box-msg text-center mb-1 fw-600 fs-20">Login with passkey</p>
        <div id="loadingArea" class="d-none">
          <div class="d-flex justify-content-center">
            <div class="spinner-border text-info" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-2">
            <p id="loadingText">Loading...</p>
          </div>
        </div>
        <div id="usernameConfirmArea" class="d-none mt-2">
          <div class="d-flex justify-content-center ai-center">
            <div>
              <div class="d-flex ai-center username-input-group">
                <div class="kinput vBubble mb-0 mt-3">
                  <input type="text" id="usernameInput"
                    data-action="input->login#usernameChange focus->login#inputFocus blur->login#inputBlur"
                    autocomplete="off" type="text">
                  <label>Username</label>
                </div>
                <a id="refreshUsernameBtn" class="c-black-grey t-decor-none name-refresh" type="button"
                  data-action="click->login#refreshRandomUsername" title="Refresh random username">
                  <span class="material-symbols-outlined">
                    refresh
                  </span></a>
              </div>
              <span class="error d-none" id="registererr_msg"></span>
              <div id="randomText" class="mt-1" style="height: 25px;">
                <span id="randomUsernameMsg" class="fs-15">Randomly generated</span>
              </div>
            </div>
          </div>
        </div>
        <div id="passwordLoginArea" class="d-none mt-2">
          <div class="d-flex justify-content-center ai-center">
            <div>
              <div class="d-flex ai-center username-input-group">
                <div class="kinput vBubble mb-0 mt-3">
                  <input type="password" id="passwordLoginInput"
                    data-action="input->login#passwordChange"
                    autocomplete="off">
                  <label>Password</label>
                </div>
              </div>
              <span class="error d-none" id="passloginerr_msg"></span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <span class="error d-none" id="loginErr_msg"></span>
        </div>
        <div class="row mt-3 justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <button type="button" data-action="click->login#openLogin" id="loginButton"
              class="btn btn-primary btn-flat me-2">
              <div class="d-flex ai-center">
                <span id="loginIcon" class="material-symbols-outlined">
                  fingerprint
                </span>
                &nbsp;Login
              </div>
            </button>
            <button type="button" data-action="click->login#confirmRegister" id="confirmButton"
              class="d-none btn btn-primary btn-flat">
              <div class="d-flex ai-center">
                <span class="material-symbols-outlined">
                  person_add
                </span>
                &nbsp;Create
              </div>
            </button>
          </div>
        </div>
        <div class="d-flex mt-3 justify-content-center">
            <a class="c-primary t-decor-none ai-center d-flex" id="loginWithPassword" type="button"
              data-action="click->login#loginWithPassBtn">
              <span id="loginModeIcon" class="material-symbols-outlined">
                keyboard_lock
              </span>
              <span id="loginTypeBtnText" class="hover-underline ms-1">Login With Password</span></a>
        </div>
      <div class="d-flex justify-content-center mt-2">
        <a class="c-primary d-flex ai-center" id="modeLink" type="button"
              data-action="click->login#switchMode">
              <span id="backIcon" class="material-symbols-outlined d-none">
                undo
              </span>
              <span id="switchModeText" class="hover-underline ms-1">Signup</span></a>
      </div>
        {{/* <div id="footerArea" class="mt-3 d-none">
          <div class="d-flex justify-content-start mt-1">
            <a class="c-primary t-decor-none d-none d-flex ai-center" id="backBtn" type="button"
              data-action="click->login#resetToStartPage">
              <span class="material-symbols-outlined">
                undo
              </span>
              <span class="hover-underline ms-1">Back</span></a>
          </div>
        </div> */}}
      </div>
    </div>
  </div>
</div>
</div>
</main>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/common.js"></script>
</body>

</html>