{{template "common/head.html" .}} {{template "common/top.html" .}} {{$LoginData
:= .LoginUser}}
<div class="pb-2">
  <h4 class="fw-600 d-inline">Settings</h4>
</div>
<div class="content" data-controller="settings">
  <div class="row">
    <div>
      <div>
        <p>The assets are allowed</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="usdSelect" value="usd" checked disabled>
          <label class="form-check-label" for="usdSelect">US Dollar (USD)</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input cursor-pointer" {{if includeStringArray .AllowAssets "btc" }}checked{{end}}
            type="checkbox" id="btcSelect" value="btc">
          <label class="form-check-label cursor-pointer" for="btcSelect">Bitcoin (BTC)</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input cursor-pointer" {{if includeStringArray .AllowAssets "dcr" }}checked{{end}}
            type="checkbox" id="dcrSelect" value="dcr">
          <label class="form-check-label cursor-pointer" for="dcrSelect">Decred (DCR)</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input cursor-pointer" {{if includeStringArray .AllowAssets "ltc" }}checked{{end}}
            type="checkbox" id="ltcSelect" value="ltc">
          <label class="form-check-label cursor-pointer" for="ltcSelect">Litecoin (LTC)</label>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <p>MicroServices Management</p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="authSelect" value="auth" checked disabled>
        <label class="form-check-label" for="authSelect">Authentication</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input cursor-pointer" {{if includeStringArray .ActiveServices "chat" }}checked{{end}}
          type="checkbox" id="chatSelect" value="chat">
        <label class="form-check-label cursor-pointer" for="chatSelect">Chat</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input cursor-pointer" {{if includeStringArray .ActiveServices "assets" }}checked{{end}}
          type="checkbox" id="assetsSelect" value="assets">
        <label class="form-check-label cursor-pointer" for="assetsSelect">Assets</label>
      </div>
    </div>
  </div>
  <span class="error d-none" id="updateSettings_msg"></span>
  <a data-action="click->settings#updateSettings" class="btn btn-linkedin btn-flat px-2 ms-2 mt-3">Update</a>
  <hr class="mt-3" />
  <a data-action="click->settings#syncTransactions" class="btn btn-linkedin btn-flat px-2 ms-2 mt-2">Synchronize
    Transactions</a>
</div>
{{template "common/foot.html" .}}