</div>
</main>
<!-- <script>
  $(document).mouseup(function(e) 
{
    var container = $("#floatingMenu");
    var floatingBtn = $("#floatingBtn")
    // if the target of the click isn't the container nor a descendant of the container
    if (!container.is(e.target) && container.has(e.target).length === 0 && !floatingBtn.is(e.target) && floatingBtn.has(e.target).length === 0)
    {
      if(container.css('display') != 'none') {
        //Click to floating button
        floatingBtn[0].click()
      }
    }
});
</script> -->
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/const.js"></script>
<script src="/static/vendor/index.es5.umd.min.js"></script>
</body>

</html>